version: 2.1

#  Copyright (C) 2019-2020 LEIDOS.
# 
#  Licensed under the Apache License, Version 2.0 (the "License"); you may not
#  use this file except in compliance with the License. You may obtain a copy of
#  the License at
# 
#  http://www.apache.org/licenses/LICENSE-2.0
# 
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#  License for the specific language governing permissions and limitations under
#  the License.
# 

# Configuration file for Circle CI 
# CI will report failure if any executed command returns and error status
# Operations performed are as follows
# Build source code
# Run unit tests for C++ 
# Run static code analyzer for SourceCloud
# Upload test results
# Every run command should start with source ${INIT_ENV} to ensure all default dependencies are available
jobs:
  sonar-scanner:
    # Pull docker image 
    # XTERM used for better make output
    docker:
      - image: ubuntu:focal-20220113
        environment:
          TERM: xterm
          SONAR_DIR: /opt/sonarqube
    # Set working directory
    working_directory: "/home/V2X-Hub"
    # Pull code and execute tests |
    # Name of each run command defines purpose use
    steps:
      #setup remote docker
      - setup_remote_docker :
          docker_layer_caching: false
      # Checkout branch
      - checkout
      - run:
          name: Setup Tools and Dependencies
          command: |
            set -x
            scripts/install_dependencies.sh
            apt-get install -y python3-pip
            pip3 install gcovr
            # install Sonar scanner from internet
            mkdir $SONAR_DIR
            curl -o $SONAR_DIR/sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.4.0.2170-linux.zip
            curl -o $SONAR_DIR/build-wrapper.zip https://sonarcloud.io/static/cpp/build-wrapper-linux-x86.zip
            curl -sL https://deb.nodesource.com/setup_10.x | bash -
            apt-get install -y nodejs
            mkdir /opt/jq
            curl -L "https://github.com/stedolan/jq/releases/download/jq-1.5/jq-linux64" -o /opt/jq/jq
            chmod +x /opt/jq/jq
            cd $SONAR_DIR
            unzip $SONAR_DIR/sonar-scanner.zip -d .
            unzip $SONAR_DIR/build-wrapper.zip -d .
            rm $SONAR_DIR/sonar-scanner.zip
            rm $SONAR_DIR/build-wrapper.zip
            mv $(ls $SONAR_DIR | grep "sonar-scanner-") $SONAR_DIR/sonar-scanner/
            mv $(ls $SONAR_DIR | grep "build-wrapper-") $SONAR_DIR/build-wrapper/
            echo 'export PATH=$PATH:/opt/jq/:$SONAR_DIR/sonar-scanner/bin/:$SONAR_DIR/build-wrapper/' >> $SONAR_DIR/init-env.sh
      - run:
          name: Run Tests & Generate Gcovr Reports
          command: |
            source ${SONAR_DIR}/init-env.sh
            cd src
            build-wrapper-linux-x86-64 --out-dir bw-output bash build.sh
            ./coverage.sh
      - run:
          name: Run Sonar Scanner
          command: |
            source ${SONAR_DIR}/init-env.sh
            echo $PATH
            if [ -z "${CIRCLE_PULL_REQUEST}" ]; then
              echo "Non-PR Build Detected. Running analysis on ${CIRCLE_BRANCH}"
              sonar-scanner -X -Dproject.settings=.sonarqube/sonar-scanner.properties -Dsonar.login=${SONAR_SCANNER_TOKEN}
              exit 0;
            else
              echo "PR branch ${CIRCLE_BRANCH}"
              echo "Repo name ${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}"
              echo "URL ${CIRCLE_PULL_REQUEST}"
              export PR_NUM=`echo ${CIRCLE_PULL_REQUEST} | cut -d'/' -f7`
              echo "PR number ${PR_NUM}"
              export BASE_BRANCH_URL="https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/pulls/${PR_NUM}"
              export TARGET_BRANCH=$(curl "$BASE_BRANCH_URL" | jq '.base.ref' | tr -d '"') 
              echo "Target Branch = ${TARGET_BRANCH}"
              sonar-scanner -X -Dproject.settings=.sonarqube/sonar-scanner.properties -Dsonar.login=${SONAR_SCANNER_TOKEN} -Dsonar.pullrequest.base=${TARGET_BRANCH} -Dsonar.pullrequest.branch=${CIRCLE_BRANCH} -Dsonar.pullrequest.key=${PR_NUM}
            fi 
  docker_build_push :
   machine:
    image: ubuntu-2004:202201-02
   steps:
     - checkout
     - run: 
        name: Docker Build
        # Build v2xhub and php docker branch images
        command: |
          docker build -f docker/Dockerfile-php -t usdotfhwaops/php:${CIRCLE_BRANCH,,} .
          docker build -t usdotfhwaops/v2xhubamd:${CIRCLE_BRANCH,,} .  
          cd ./tools/port-drayage-webservice/
          docker build -t usdotfhwaops/port-drayage-webservice:${CIRCLE_BRANCH,,} .
     - run:
        name: Docker Push
        # Push v2xhub and php docker images to usdotfhwaops dockerhub
        command: | 
          echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
          docker push usdotfhwaops/v2xhubamd:${CIRCLE_BRANCH,,}
          docker push usdotfhwaops/php:${CIRCLE_BRANCH,,}
          docker push usdotfhwaops/port-drayage-webservice:${CIRCLE_BRANCH,,}
  docker_build_push_develop :
   machine:
    image: ubuntu-2004:202201-02
   steps:
     - checkout
     - run: 
        name: Docker Build
        # Build v2xhub and php docker images develop images
        command: |
          docker build -f docker/Dockerfile-php -t usdotfhwaops/php:latest .
          docker build -t usdotfhwaops/v2xhubamd:latest .
          cd ./tools/port-drayage-webservice/ 
          docker build  -t usdotfhwaops/port-drayage-webservice:latest .
     - run: 
        name: Docker Push
        # Push v2xhub and php docker images to usdotfhwaops dockerhub
        command: | 
          echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
          docker push usdotfhwaops/v2xhubamd:latest
          docker push usdotfhwaops/php:latest
          docker push usdotfhwaops/port-drayage-webservice:latest

  arm_build_push :
   machine:
    image: ubuntu-2004:202101-01
   resource_class: arm.medium
   steps:
     - checkout
     - run: 
        name: Docker Build
        # Run MYSQL image and build v2xhub docker image
        command: |
          docker build -t usdotfhwaops/v2xhubarm:${CIRCLE_BRANCH,,} .
          docker build -f docker/Dockerfile-php -t usdotfhwaops/php_arm:${CIRCLE_BRANCH,,} .
          cd ./tools/port-drayage-webservice/
          docker build -f Dockerfile-arm -t usdotfhwaops/port-drayage-webservice_arm:${CIRCLE_BRANCH,,} .

    
     - run: 
        name: Docker Push
        # Push v2xhub docker image to usdotfhwaops dockerhub
        command: | 
          echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
          docker push usdotfhwaops/v2xhubarm:${CIRCLE_BRANCH,,}
          docker push usdotfhwaops/port-drayage-webservice_arm:${CIRCLE_BRANCH,,}
          docker push usdotfhwaops/php_arm:${CIRCLE_BRANCH,,}
  arm_build_push_develop :
   machine:
    image: ubuntu-2004:202101-01
   resource_class: arm.medium
   steps:
     - checkout
     - run:
        name: Docker Build
        # Run MYSQL image and build v2xhub docker image develop image
        command: |
          docker build -t usdotfhwaops/v2xhubarm:latest .
          docker build -f docker/Dockerfile-php -t usdotfhwaops/php_arm:latest .
          cd ./tools/port-drayage-webservice/
          docker build -f Dockerfile-arm -t usdotfhwaops/port-drayage-webservice_arm:latest .


     - run:
        name: Docker Push
        # Push v2xhub docker image to usdotfhwaops dockerhub
        command: |
          echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
          docker push usdotfhwaops/v2xhubarm:latest
          docker push usdotfhwaops/port-drayage-webservice_arm:latest
          docker push usdotfhwaops/php_arm:latest
  automated_release :
   machine:
    image: ubuntu-2004:202201-02
   steps:
     - run: 
        name: Docker Pull Release
        # Pull all built images associated with github tag
        command: |
          docker pull usdotfhwaops/php:master
          docker pull usdotfhwaops/port-drayage-webservice:master
          docker pull usdotfhwaops/v2xhubamd:master
          docker pull usdotfhwaops/php_arm:master
          docker pull usdotfhwaops/port-drayage-webservice_arm:master
          docker pull usdotfhwaops/v2xhubarm:master
     - run:
        name: Docker Tag Release
        # Tag all pulled images with github tag name
        command: | 
          docker tag usdotfhwaops/php:master usdotfhwaops/php:${CIRCLE_TAG}
          docker tag usdotfhwaops/port-drayage-webservice:master usdotfhwaops/port-drayage-webservice:${CIRCLE_TAG}
          docker tag usdotfhwaops/v2xhubamd:master usdotfhwaops/v2xhubamd:${CIRCLE_TAG}
          docker tag usdotfhwaops/php_arm:master usdotfhwaops/php_arm:${CIRCLE_TAG}
          docker tag usdotfhwaops/port-drayage-webservice_arm:master usdotfhwaops/port-drayage-webservice_arm:${CIRCLE_TAG}
          docker tag usdotfhwaops/v2xhubarm:master usdotfhwaops/v2xhubarm:${CIRCLE_TAG}
     - run:
        name: Docker Push Release Tag
        # Push all tagged images
        command: |
          echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
          docker push usdotfhwaops/php:${CIRCLE_TAG}
          docker push usdotfhwaops/port-drayage-webservice:${CIRCLE_TAG}
          docker push usdotfhwaops/v2xhubamd:${CIRCLE_TAG}
          docker push usdotfhwaops/php_arm:${CIRCLE_TAG}
          docker push usdotfhwaops/port-drayage-webservice_arm:${CIRCLE_TAG}
          docker push usdotfhwaops/v2xhubarm:${CIRCLE_TAG}
workflows:
  version: 2
  build:
    jobs:
      - docker_build_push_develop:
          filters:
            branches:
              only: develop
      - docker_build_push:
          filters:
           branches:
              ignore: develop
           tags:
              only: /^[\.0-9]*$/
      - arm_build_push:
          filters:
            branches:
               ignore: develop
            tags:
              only: /^[\.0-9]*$/
      - arm_build_push_develop :
          filters:
            branches:
              only: develop
      - sonar-scanner:
      - automated_release:
          filters:
            tags:
              only: /^[\.0-9]*$/
            branches:
              ignore: /.*/
