version: '3.7'

services:
  db:
    image: mysql:5.7
    container_name: mysql
    restart: always
    environment:
      - MYSQL_DATABASE=IVP
      - MYSQL_USER=IVP
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_password
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql_root_password
    network_mode: host
    secrets:
      - mysql_password
      - mysql_root_password
    volumes:
      - ./mysql/localhost.sql:/docker-entrypoint-initdb.d/localhost.sql
      - ./mysql/port_drayage.sql:/docker-entrypoint-initdb.d/port_drayage.sql

  php:
    image: usdotfhwaops/php:7.2.3
    container_name: php
    network_mode: host
    depends_on: 
      - db
      - v2xhub
    stdin_open: true
    tty: true

  v2xhub:
    image: usdotfhwaops/v2xhubamd:399-voices-sit1-fix
    container_name: v2xhub
    network_mode: host
    restart: always
    depends_on: 
      - db
    environment:
      - MYSQL_PASSWORD=/run/secrets/mysql_password
      # ADDED TENA ENV VARIABLES
      - TENA_HOME=/home/TENA
      - LD_LIBRARY_PATH=/home/TENA/lib
    secrets:
      - mysql_password
    volumes:
      - ./logs:/var/log/tmx
      - ./MAP:/var/www/plugins/MAP
      # ADDED TENA MOUNTED VOLUMES
      - /home/v2xhub/TENA:/home/TENA
      - /home/v2xhub/tenadev:/home/tenadev
#  port_drayage_webservice:
#    image: usdotfhwaops/port-drayage-webservice:7.2.3
#    container_name: port_drayage_webservice
#    network_mode: host
secrets:
    mysql_password:
        file: ./secrets/mysql_password.txt
    mysql_root_password:
        file: ./secrets/mysql_root_password.txt
