version: '3.7'

services:
  db:
    image: mysql:5.7
    container_name: mysql
    restart: always
    environment:
      - MYSQL_DATABASE=IVP
      - MYSQL_USER=IVP
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_password
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql_root_password
    network_mode: host
    secrets:
      - mysql_password
      - mysql_root_password
    volumes:
      - ./mysql/localhost.sql:/docker-entrypoint-initdb.d/localhost.sql
      - ./mysql/port_drayage.sql:/docker-entrypoint-initdb.d/port_drayage.sql
      - mysql-datavolume:/var/lib/mysql

  php:
    image: usdotfhwaops/php:latest
    container_name: php
    network_mode: host
    depends_on: 
      - db
      - v2xhub
    stdin_open: true
    tty: true

  v2xhub:
    image: usdotfhwaops/v2xhubamd:latest
    container_name: v2xhub
    network_mode: host
    restart: always
    depends_on: 
      - db
    environment:
      - MYSQL_PASSWORD=/run/secrets/mysql_password
      - SIMULATION_MODE=true
      - SIMULATION_IP=127.0.0.1
      - SIMULATION_REGISTRATION_PORT=6767
      - LOCAL_IP=127.0.0.1
      - TIME_SYNC_TOPIC=time_sync
      - TIME_SYNC_PORT=7575
      - SIM_V2X_PORT=5757
      - SIM_EXTERNAL_OBJECT_PORT=7576
      - V2X_PORT=8686
      - INFRASTRUCTURE_ID=1
      - KAFKA_BROKER_ADDRESS=127.0.0.1:9092
    secrets:
      - mysql_password
    volumes:
      - ./logs:/var/log/tmx
      - ./MAP:/var/www/plugins/MAP
  port_drayage_webservice:
    image: usdotfhwaops/port-drayage-webservice:latest
    container_name: port_drayage_webservice
    network_mode: host
secrets:
    mysql_password:
        file: ./secrets/mysql_password.txt
    mysql_root_password:
        file: ./secrets/mysql_root_password.txt

volumes:
  mysql-datavolume:
