services:
  v2xhub:
    build: 
      context: ..
      dockerfile: ./Dockerfile
      target: build-environment
    privileged: true
    env_file:
      - ../.devcontainer/devcontainer.env
    # Building source code is memory intensive so we increase the memory limit.
    deploy:
      resources:
        limits:
          memory: 4g
        reservations:
          memory: 2g
    cap_add:
      - SYS_PTRACE
    volumes:
      # This is where VS Code should expect to find your project's source code and the value of "workspaceFolder" in .devcontainer/devcontainer.json
      - ..:/workspace:cached
    # Overrides default command so things don't shut down after the process ends.
    command: /bin/sh -c "while sleep 10000; do :; done"  
  db:
    env_file:
      - ../.devcontainer/devcontainer.env

