    <div class="jumbotron" th:if="${@loadingActions.getCurrentAction() != null}">
        <h1 class="display-4">Requested Loading Action</h1>
        <h1 class="h4">
            Load vehicle : 
                <strong th:text="${@loadingActions.getCurrentAction().getVehicleId()}"></strong> 
            with container : 
                <strong th:text="${@loadingActions.getCurrentAction().getContainerId()}"></strong>
        </h1>
        <hr class="my-4">
        <p class="lead" th:value="${@loadingActions.getCurrentAction().getStatus()}"
            th:text="|Status : ${@loadingActions.getCurrentAction().getStatus()}|"></p>
        <p class="lead">
            <button class="btn btn-primary btn-lg btn-block" th:if="${@loadingActions.getCurrentAction().getStatus().getValue().equals('PENDING')}"
                id="start-loading">Start Loading</button>

            <button class="btn btn-success btn-lg btn-block" th:if="${@loadingActions.getCurrentAction().getStatus().getValue().equals('LOADING')}"
                id="complete-loading">Complete Loading</button>
        </p>
    </div>
    <h1 class="display-4">Pending Loading Actions</h1>
    <table class="table">
        <thead>
            <tr>
                <th> Vehicle ID </th>
                <th> Container ID </th>
                <th> getCompletedActions ID </th>
                <th> Requested </th>
            </tr>
        </thead>
        <tbody>
            <tr
                th:if="${@loadingActions.getPendingActions().getActions() == null || @loadingActions.getPendingActions().getActions().isEmpty() }">
                <td colspan="3"> No Pending Actions</td>
            </tr>
            <tr th:each="action : ${@loadingActions.getPendingActions().getActions()}">
                <td><span th:text="${action.getVehicleId()}"> </span></td>
                <td><span th:text="${action.getContainerId()}"> </span></td>
                <td><span th:text="${action.getActionId()}"> </span></td>
                <td><span th:text="${#dates.format(new java.util.Date(action.getRequested()))}"> </span></td>
            </tr>
        </tbody>
    </table>

    <h1 class="display-4">Completed Loading Actions</h1>
    <table class="table">
        <thead>
            <tr>
                <th> Vehicle ID </th>
                <th> Container ID </th>
                <th> Action ID </th>
                <th> Requested </th>
                <th> Completed </th>
            </tr>
        </thead>
        <tbody>
            <tr
                th:if="${@loadingActions.getCompletedActions().getActions() == null || @loadingActions.getCompletedActions().getActions().isEmpty() }">
                <td colspan="3"> No Completed Actions</td>
            </tr>
            <tr th:each="action : ${@loadingActions.getCompletedActions().getActions()}">
                <td><span th:text="${action.getVehicleId()}"> </span></td>
                <td><span th:text="${action.getContainerId()}"> </span></td>
                <td><span th:text="${action.getActionId()}"> </span></td>
                <td><span th:text="${#dates.format(new java.util.Date(action.getRequested()))}"> </span></td>
                <td><span th:text="${#dates.format(new java.util.Date(action.getCompleted()))}"> </span></td>

            </tr>
        </tbody>
    </table>

<script th:inline="javascript">
    /*<![CDATA[*/
    $('#start-loading').on('click', function (e) {
        console.log(e)
        var actionId
        if (  /*[[${@loadingActions.getCurrentAction()}]]*/ null ) {
            actionId = /*[[${@loadingActions.getCurrentAction()?.getActionId()}]]*/ "test"
        }
        else {
            actionId = ""
        }

        e.preventDefault();
        $.ajax({
            type: 'post',
            url: 'loading/start/' + actionId,
            success: function () {
                $('#loading').load("loading/")
            }
        });
    });

    $('#complete-loading').on('click', function (e) {
        console.log(e)
        // Prevent whole page reload
        e.preventDefault();
        // Retrieve current action id. ? used to protect against null current actions
        var actionId
        if (  /*[[${@loadingActions.getCurrentAction()}]]*/ null ) {
            actionId = /*[[${@loadingActions.getCurrentAction()?.getActionId()}]]*/ "test"
        }
        else {
            actionId = ""
        }

        $.ajax({
            type: 'post',
            url: 'loading/complete/' + actionId,
            success: function () {
                $('#loading').load("loading/")
            }
        });
    });
    /*]]>*/
</script>