    <div class="jumbotron" th:if="${@unloadingActions.getCurrentAction() != null}">
        <h1 class="display-4">Requested Unloading Action</h1>
        <h1 class="h4">
            Unload vehicle : 
                <strong th:text="${@unloadingActions.getCurrentAction().getVehicleId()}"></strong> 
            with container : 
                <strong th:text="${@unloadingActions.getCurrentAction().getContainerId()}"></strong>
        </h1>
        <hr class="my-4">
        <p class="lead" th:value="${@unloadingActions.getCurrentAction().getStatus()}"
            th:text="|Status : ${@unloadingActions.getCurrentAction().getStatus()}|"></p>
        <p class="lead">
            <button class="btn btn-primary btn-lg btn-block" th:if="${@unloadingActions.getCurrentAction().getStatus().getValue().equals('PENDING')}"
                id="start-unloading">Start Unloading</button>

            <button class="btn btn-success btn-lg btn-block" th:if="${@unloadingActions.getCurrentAction().getStatus().getValue().equals('UNLOADING')}"
                id="complete-unloading">Complete Unloading</button>

        </p>
    </div>
    <h1 class="display-4">Pending Unloading Actions</h1>
    <table class="table">
        <thead>
            <tr>
                <th> Vehicle ID </th>
                <th> Container ID </th>
                <th> Action ID </th>
                <th> Requested </th>
            </tr>
        </thead>
        <tbody>
            <tr
                th:if="${@unloadingActions.getPendingActions().getActions() == null || @unloadingActions.getPendingActions().getActions().isEmpty() }">
                <td colspan="3"> No Pending Actions</td>
            </tr>
            <tr th:each="action : ${@unloadingActions.getPendingActions().getActions()}">
                <td><span th:text="${action.getVehicleId()}"> </span></td>
                <td><span th:text="${action.getContainerId()}"> </span></td>
                <td><span th:text="${action.getActionId()}"> </span></td>
                <td><span th:text="${#dates.format(new java.util.Date(action.getRequested()))}"> </span></td>
            </tr>
        </tbody>
    </table>

    <h1 class="display-4">Completed Unloading Actions</h1>
    <table class="table">
        <thead>
            <tr>
                <th> Vehicle ID </th>
                <th> Container ID </th>
                <th> Action ID </th>
                <th> Requested </th>
                <th> Completed </th>
            </tr>
        </thead>
        <tbody>
            <tr
                th:if="${@unloadingActions.getCompletedActions().getActions() == null || @unloadingActions.getCompletedActions().getActions().isEmpty() }">
                <td colspan="3"> No Completed Actions</td>
            </tr>
            <tr th:each="action : ${@unloadingActions.getCompletedActions().getActions()}">
                <td><span th:text="${action.getVehicleId()}"> </span></td>
                <td><span th:text="${action.getContainerId()}"> </span></td>
                <td><span th:text="${action.getActionId()}"> </span></td>
                <td><span th:text="${#dates.format(new java.util.Date(action.getRequested()))}"> </span></td>
                <td><span th:text="${#dates.format(new java.util.Date(action.getCompleted()))}"> </span></td>

            </tr>
        </tbody>
    </table>

<script th:inline="javascript">
    /*<![CDATA[*/
    $('#start-unloading').on('click', function (e) {
        console.log(e)
        var actionId
        if (  /*[[${@unloadingActions.getCurrentAction()}]]*/ null ) {
            actionId = /*[[${@unloadingActions.getCurrentAction()?.getActionId()}]]*/ "test"
        }
        else {
            actionId = ""
        }

        e.preventDefault();
        $.ajax({
            type: 'post',
            url: 'unloading/start/' + actionId,
            success: function () {
                $('#unloading').load("unloading/")
            }
        });
    });

    $('#complete-unloading').on('click', function (e) {
        console.log(e)
        var actionId
        if (  /*[[${@unloadingActions.getCurrentAction()}]]*/ null ) {
            actionId = /*[[${@unloadingActions.getCurrentAction()?.getActionId()}]]*/ "test"
        }
        else {
            actionId = ""
        }

        e.preventDefault();
        $.ajax({
            type: 'post',
            url: 'unloading/complete/' + actionId,
            success: function () {
                $('#unloading').load("unloading/")
            }
        });
    });
       /*]]>*/
</script>