<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>CARMA Freight Web Service</title>
        
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <link th:rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>

    <body>

        <main role="main" class="container">
            <div class="main-splash">
                <img th:src="@{/images/logos/CARMA_Streets.png}" class="splash-logo"/>
            </div>
            <br>
            <div class="main-splash">
                <div  class="alert alert-success alert-custom-splash main-splash-description" role="alertdialog" >
                    CARMA Streets is a component of CARMA ecosystem, which enables coordination among different transportation users. 
                    This component provides an interface for Cooperative Driving Automation (CDA) participants to interact with the road and 
                    port infrastructure. CARMA Streets is also an edge-computing unit that improves the efficiency and performance of the 
                    Transportation Systems Management and Operations (TSMO) strategies and Port Drayage Operations.
                </div>
            </div>
            <br>
            <div class="area-select">
                <button id="staging-area" class="btn btn-success btn-lg mr-5 area-select-btn" >STAGING AREA</button>
                <button id="port-area" class="btn btn-success btn-lg ml-5 area-select-btn" >PORT AREA</button>
            </div>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script >
                // Select Area
                $('#staging-area').on('click', function (e) {
                    console.log(e)    
                    e.preventDefault();
                    $.ajax({
                        type: 'post',
                        url: 'uiaction/area/STAGING_AREA',
                        success: function () {
                            window.location.reload()
                        }
                    });
                });
                // Select Area
                $('#port-area').on('click', function (e) {
                    console.log(e)    
                    e.preventDefault();
                    $.ajax({
                        type: 'post',
                        url: 'uiaction/area/PORT_AREA',
                        success: function () {
                           window.location.reload()
                        }
                    });
                });
            </script>

        </main>
        <br>
        <div class="footerPanel">
            <div class="footerElement " >
                <img th:src="@{/images/logos/FHWALogo_2.png}" class="logos"/>
                <img th:src="@{/images/logos/marad.png}" class="marad-logo"/>
            </div>
            <div class="footerElement version" >V2X-Hub 6.2</div>
            <div class="footerElement copyright">Copyright &copy LEIDOS <script>document.write( new Date().getFullYear() );</script> </div>
        </div>
    </body>
</html>