Source: pkcs11-proxy
Priority: extra
Maintainer: Corentin Chary <cchary@commonit.com>
Uploaders: Leif Johansson <leifj@mnt.se>
Build-Depends: cdbs, debhelper (>= 6), cmake, libssl-dev (>= 1.0.0), libseccomp-dev (>= 1.0.0)
Standards-Version: 3.8.0
Section: libs

Package: pkcs11-proxy1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
Description: pkcs11-proxy
 A pkcs11 proxy to use pkcs11 over the network

Package: pkcs11-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
Description: pkcs11-proxy
 A pkcs11 daemon to talk with pkcs11-proxy

