/* -------------------- Page ------------------------ */
.page{
    font-family: Helvetica, Sans-Serif;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
}

.page[data-state="active"]
{
    display: block !important;
}

.page[data-state="disabled"]
{
    display: none !important;
}

/*.ui-page-theme-a {
    padding-top: 4.25em;
}
*/


body{
    font-size: 1.3vw !important;
    margin:0em;
}
/*----------------- */
#tabs {
    border:none;
}

.v2iTabs
{
    font-size: .7em !important;
}

.filterLegend
{
    font-size: .7em !important;
}

#filterLabel
{
    font-size: 1em !important;
    margin-bottom: .5em;
    margin-right: 1.5em;
    font-weight: bold;
}

#filterDiv
{
    border-color: #0079CF;
    border-radius: 0.2em;
    border-width: 1px;
    border-style: double;
    height:50%;
    padding: 0.75%;
}

/* ------------------ Keyboard --------------------- */

.ui-keyboard
{
   position:absolute;
   width: 20em !important;
   background : #303030 !important;
   top: 10em !important;
   left: 20em !important;
}

.ui-keyboard-button
{
    background: #555 !important;
}

.ui-keyboard-actionkey
{
    background: #FF4500 !important;
}

.ui-keyboard-text 
{
    color: #FFFFFF !important;
}
/* ---------------- End Keyboard ------------------- */


/* --------------------- Table --------------------- */
.table-fixed{
    table-layout: fixed;
}
.mainEventLogTable {
    width:100% !important;
    word-break: break-all;
}
/* ------------------- End Table ------------------- */

/* -------------------- Button --------------------- */
#uploadFileBtn {
    float:right;
    width: 12%;
    padding: 0.25%;
    height: 10%;
    margin-top: 0.75%;
}

.confirmbutton
{
    background-color: #303030 !important;
    box-sizing: border-box;
    border: outset #666;
    color: #FFFFFF;
    width: 10em !important;
    padding: 2em !important;
    margin: 0.5em 1em 0em 0.5em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.headbtn{
    width: 15% !important;
    font-size: .7em !important;
}

.selectbutton{
    position:relative;
    margin: 4%;
}

.setupbutton{
    width: 90%;
    height: 100%;
}

.setuppagebtn
{
    width: 10em !important;
    height: 3.5em !important;
    margin: 0.5em 0em 0.5em 0.5em;
}

.activeFileOption {
    background: gray;
}
/* ----------------- End Button -------------------- */

/* --------------------- Text ---------------------- */
.center{
    text-align: center !important;
}

.margin-auto { 
    margin:auto; 
}

.nounderline{
    text-decoration:none !important;
}

.underline{
    text-decoration:underline;
}

.bold{
    font-weight:bold;
}

.heading{
    font-weight: bold;
    text-align: center !important;
}

/* ------------------- Containers ------------------ */
#pluginList {
    margin-top: 1%;
}

.buttoncontainer{
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    margin-right: -23em;
    float: left;
    margin-left: 9em;
 /*   background:#002c77; */

}

.container{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: -2em 0em 0em 0em; 
}

.containerborders{
    box-shadow: inset 0 1px 3px  rgba(0,0,0,.2);
    box-sizing: border-box;
    background: #2e2e2e;

    border-color: #444;
    border-radius: 0.2em;
    border-width: 1px;
    border-style: solid;
    color: #f9f9f9 ;
    text-shadow: 0  1px 0  #111 ;
        
    font-size: 1em;
    text-align: center;
}

#eventtable
{
    font-size: .8em;
}

#eventtable td{
    background-color: #515151;
}

.dataTable {
    font-size: 0.75em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_info,
.dataTables_length
{
    font-size: 0.65em;
}

.dataTables_filter {
    font-size: 0.8em;
}

.ledcontainer{
    margin-left: -8em;
    margin-right: auto; 
    margin-top: 0.5em;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1;
    padding-top: 10px;
    text-align: center;
}



.tcledcontainer{
    width: 100%;
    text-align: center;
}

.selectdiv{
  /*  margin: auto;*/
    width: 80%;
    height: 3em !important;
}

.setupcontainer{
    width:33%;
    display:inline-block;
    padding: 1% 1% 1% 1%; 
}

.setuptable{  
    margin-top: 52px;
    width: 100%;
    min-height: 60%;
}

.telemcontainer{
    display: inline-block;
    background: #2e2e2e;
    border-color: #444;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    color: #f9f9f9 ;
    text-shadow: 0  1px 0  #111 ;
}

.table-stroke td{
    margin: 0em !important;
    padding: 0em !important;
}

#trendchart {
    width: 35em !important;
    height: 25em !important;
    /*margin-top: -4em !important;*/
    margin-left: 17.5em !important;
    z-index: 1 !important;
}

.absoluteForefront {
    z-index: 1000 !important;
}

#uploadFilesDiv {
    margin-top:1%;
}

.uploadFilesLabel {
    font-weight:bold;
    margin-bottom: 2%;
}

#uploadFiles {
    width: 100%;
    margin-bottom: 1%;
}

#fileUploadProgressDiv {
    width: 100%;
}

#fileDestPathLabel {
    margin-top: 1%;
    font-weight:bold;
}

#fileDestPathInput {
    margin-top: 1%;    
    border: 1px solid #666666;
    border-radius: 4px;
    height:2em;
    width:77%;
    display:inline-block;
    padding-left: 1%;
    padding-right: 1%;
}

#fileUploadProgressContainer {
    position: fixed;
    bottom: 1%;
    text-align: center;
    background: white;
}

#fileUploadErrorFeedback {
    margin-top: 2%;
}
/* ---------------- End Containers ------------------ */

/* -------------------- Labels  --------------------- */
.label{
    background-color: #2C2C2C;
}

.connectedlabel{
      margin-left: 3% !important;
      padding-top: 3px;
      position: fixed;
}


.identifierlabel{
    font-size: 0.7em !important;
    position:absolute;
    bottom:0;
    right: 2%;
    color: #002C77;
}

.pageContainer
{
    color: #002C77;
    background-color: #212121 !important;
}

.ledlabel{
    float: left;
    margin-left: .5em !important;
    margin-right: .5em !important;
}


.setupTable thead {
  display: none;
}

.setupPage
{
    margin-left: .5em !important;
    margin-right: .5em !important;
}

#versiontable td{
    background-color: #303030;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1ms;
}

.vert_stack {
    position:relative; 
}

.imageLayout{
    margin:auto;
}

.bgBlack
{
    background: #000;
}

.topDiv{
    height:10% !important;
    text-align:center;
    font-size: 2em !important;
}


.UIPage
{
    background: #212121;
}

.login {
  background: #eceeee;
  border: 1px solid #a1a3a3;
  border-radius: 6px;
  margin: .5em auto 0;
  height:13em;
  width:22em;
  margin-top: 3em;
}

.loginInput {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  transition: box-shadow 0.3s;
  margin: 1em 3em 0 1em;
  height:2em;
  width:20em;
  padding-left:1em;
}
.login > button {
  margin: 1em 3em 0 1em;
  height:2.5em;
  width:20em;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #0073CF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}
.feedBack {
  margin: 1em 0em 0em 0em;
  height:3em;
  width:100%;
  text-align:center;
  position:relative;
  cursor:pointer;
  border: none;  
}
.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 1em;
  margin: 30px auto;
  opacity: 0.15;
  width:22em;

}


/*-------------- Header -------------*/
nav {
    background-color: #0073CF;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
 
nav > ul > li > a {
    color: #fff;
    background-color:#0073CF;
    display: block;
    line-height: .8em;
    padding: 0em 0em;
    text-decoration: none;
}
li > a {
  text-align: center;
  vertical-align: middle;
}

.hide
{
    display: none !important;
}
.headertop
{
    width: 100%;
    background-color:#002C77;
}
.headermiddle
{
    width: 100%;
    background-color:#0073CF;
}
.headerbottom
{
    width: 100%;
    background-color:#565A5C;
}
.headercontainer{
    display: table; 
    width: 100%;
    position: fixed;
    z-index: 2;
}

.headerlabel
{
    float: left;
    color:#FFF;
    vertical-align: middle !important;
    margin-left: .5em !important;
    margin-top: .5em !important;
}
.machinelabel
{
    float: left;
    color:#FFF;
    vertical-align: middle !important;
    margin-left: 1.5em !important;
    margin-top: .75em !important;
}
.timelabel
{
    float: left;
    color:#FFF;
    vertical-align: middle !important;
    margin-left: .5em !important;
    margin-top: .25em !important;
}
.versionlabel
{
    float: right;
    color:#FFF;
    vertical-align: middle !important;
    margin-left: .5em !important;
    margin-top: .25em !important;
    margin-right: 1em !important;
}
.logoContainer{
    margin-right: .5em;
    margin-top: .5em;
    position: fixed;

}
.logoImage{
    float:right;
    margin-right: .5em;
    margin-top: .5em;
}

.ipInputDiv {
    margin-left: 1em;
    vertical-align: middle;
    width:100%;
}

.ipInput {
    /*margin-top: -.3em; */
    border-radius: 0.2em !important;
    text-align: center;
    vertical-align: middle;
}
.prevIPs {
    border-radius: 0.2em !important;
    text-align: center;
    vertical-align: middle;    
}
.sslButton 
{
    color: #eaf5f7;
    border: 1px solid #002C77;
    background: #002C77;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.sslButton[data-state="true"] 
{
    background: #002C77;
}
.sslButton[data-state="false"] 
{
    background: #565A5C;
}


.fill-width
{
    width: 100%  !important;
}


.ipInput[data-valid="false"], .portInput[data-valid="false"] {
    background-color: red;
}

.currLoginDiv {
    display: inline;
    float: right;
    margin-right:2em;
}

.userLabel {
    display: inline;
    color:#FFF;
}

.addUserBtn {
    display:block !important;
    margin-right: 3em !important;
    margin-left: auto !important;
    font-size:0.8em !important;
    width:10em;
    height:2.5em;
    margin-top: 0.25%;
}

.userBtn {
    float:left;
    margin-right: 2em;
    margin-left: 1em;
    width:12em;
    height:3em;
    font-size:0.8em !important;
    margin-top: 0.25%;
}

.permissionsLabel {
    display: inline;
    color:#FFF;
    font-size:0.6em !important;
}

.logoutBtn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #FFFFFF;
    border-left: 3px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    cursor:pointer;
    overflow: hidden;
    color:#FFF;
}

.configurationBtn {
    float:right;
    height: 97%;
    width:5%;
    margin-right:2%;
}

#fileButtonOptions {
    height: 3em;
}

#fileButtonOptions > button { 
    margin-right: 1%;
    width: 25%;
    height: 80%;
}
#fileButtonOptions > button[disabled="true"] { 
    color: #FFF;
}

.site-dialog {
    margin-top: .2em !important; 
    font-size:0.8em !important;    
}

.changePasswordDialogLabel, .changeUserAccessDialogLabel, .addUserDialogLabel {
    margin-bottom: 2%;
    margin-right: 2%;
    font-weight:bold;
    width: 30%;
    display:inline-block;
    text-align:right;
}

.passwordInputs {
    margin: 1.5% 0% 1.5% 0%;
}

.newUsernameInput, .userLoginInput, .newConfigInput {
  border: 1px solid #666666;
  border-radius: 4px;
  height:2em;
  width:60%;
  display:inline-block;
  padding-left: 1%;
  padding-right: 1%;
}

#change_user_Access-button
{
    width: 58%;
    /* See copyright in jquery-ui.theme.css */
    background: #0079CF url("images/ui-bg_gloss-wave_50_0079CF_500x100.png") 50% 50% repeat-x !important;
}

#new_user_Access-button
{
    width: 58%;
    /* See copyright in jquery-ui.theme.css */
    background: #0079CF url("images/ui-bg_gloss-wave_50_0079CF_500x100.png") 50% 50% repeat-x !important;
}

#filterMsgDiv {
    width: 50%;
    border-color: #0079CF;
    border-radius: 0.2em;
    border-width: 1px;
    border-style: solid;
    height:2em;
    padding: 0.75%;
}

label.messageSelect {
    font-weight: bold;
    font-size: 0.9em !important;
    width:25%;
}

#filter_msg_by_time-button
{
    width:45%;
    /* See copyright in jquery-ui.theme.css */
    background: #0079CF url("images/ui-bg_gloss-wave_50_0079CF_500x100.png") 50% 50% repeat-x !important;
}
#filter_msg_by_time-button > .ui-selectmenu-text
{
    font-size:0.8em !important;
}
.timeFilterButton 
{
    color: #eaf5f7;
    border: 1px solid #0079CF;
    font-size: 0.8em !important;
/*    background: #0079CF; */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 2.3em;
    width:25%;
}
.timeFilterButton[data-state="true"] 
{
    /* See copyright in jquery-ui.theme.css */
    background: #0079CF url("images/ui-bg_gloss-wave_50_0079CF_500x100.png") 50% 50% repeat-x !important;
}
.timeFilterButton[data-state="false"] 
{
    background: #565A5C;
}

.ui-menu-item
{
    font-size:0.8em !important;
}
/*
#new_user_Access-button > .ui-selectmenu-text
{
    color: black !important;
}
*/
/* ------------------ End Page ---- */

/* Wide screen Images */
@media all and (min-aspect-ratio: 16/12) 
{ 
.deletePluginButton {
    margin-top: .3%;
}

/*----- header ----*/
li > a {
  font-size: 70% !important;
}

.userLabel {
    font-size: 75% !important;
    margin-top: 0em !important;
}

.permissionsLabel {
    font-size: 60% !important;
    margin-top: 0em !important;
}

.logoutBtn {
    font-size: 65% !important;
    margin-top: 0em !important;
}

.configurationBtn{
    font-size:80% !important;
}

.sslButton 
{
    width: 6em;
    font-size: 75% !important;

}
.ipInput {
    /*margin-top: -.3em; */
    font-size: 75% !important;
}
.prevIPs {
    font-size: 75% !important;
}
.mainpage{
    padding-top:5.5em;

}

.headertop
{
    height:3em;
}
.headermiddle
{
    height:1.5em;
}
.headerbottom
{
    height:1em;    
}
.headercontainer{
    height:5.5em;
}

.headerlabel
{
    font-size: 1.3em !important;
}
.machinelabel
{
    font-size: 1em !important;
}
.timelabel
{
    font-size: .5em !important;
}
.versionlabel
{
    font-size: .5em !important;
}
.logoContainer{
    height: .5em;
}
.logoImage{
    height: 2.2em;
}

.ipInputDiv {
    margin-left: 1em;
    vertical-align: middle;
    width:100%;
}

.ipInput {
    /*margin-top: -.3em; */
    border-radius: 0.2em !important;
    font-size: 75% !important;
    text-align: center;
    vertical-align: middle;
}
.prevIPs {
    font-size: 75% !important;
    text-align: center;
    vertical-align: middle;
}


    .layered_stack {
        position: absolute;
        height: 38em;
        /* top: 1.25em; */
        left: 12.5em;/*9.3em;*/
        display: block;
        /* line-height: 1.3; */
        margin-left: auto;
        margin-right: auto;
        /* font-size: 1.6vw !important; */
    }
    .ImageDiv {
        padding-top: 2em;
        height: 38em !important;
        margin-top: -1.3em; 
        background: #000;
    }

    .layered_text {
        position: absolute;
        /* height: 28.75em; */
        top: 0em; 
        left: 4.4em;
        /* display: block; */
        /* line-height: 1.3; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* font-size: 1.6vw !important; */
        width: 2em;
    }

    .whiteFont-154{
        /* height:10% !important; */
        /* min-height: 31.5em; */
        /* text-align: center; */
        font-size: 10em !important;
        color: #FFF;
        background: black;
        font-family: 'Source Sans Pro', sans-serif;
        /* font-weight: 600; */
    }

}
/* 4:3 screen */
@media not all and (min-aspect-ratio: 16/12) 
{ 
#filterMsgDiv {
    width:55%;
}

.timeFilterButton{
    width:27%;
}

/*----- header ----*/
.deletePluginButton {
    margin-top: .15%;
}

li > a {
  font-size: 100% !important;
}

.userLabel {
    font-size: 125% !important;
    margin-top: .5em !important;
}

.configurationBtn{
    font-size:60% !important;
}

.permissionsLabel {
    font-size: 100% !important;
    margin-top: .5em !important;
}

.logoutBtn {
    font-size: 100% !important;
    margin-top: .5em !important;
}
.headerlabel
{
    font-size: 2em !important;
}
.machinelabel
{
    font-size: 1.5em !important;
}
.timelabel
{
    font-size: 1em !important;
}
.versionlabel
{
    font-size: 1em !important;
}
.logoContainer{
    height: .5em;
}
.logoImage{
    height: 3em;
}
.ipInput {
    margin-top: .1em;
    font-size: 125% !important;
}

.prevIPs {
    margin-top: .1em;
    font-size: 125% !important;
}

.sslButton 
{
    font-size: 125% !important;
    margin-top: .3em;
    width:7em;
}

.mainpage{
    padding-top:8em;
}
.headertop
{
    height:4em;
}
.headermiddle
{
    height:2.5em;
}
.headerbottom
{
    height:1.5em;    
}
.headercontainer{
    height:7em;
}





    .layered_stack {
        position: absolute;
        height: 50em;
        /* top: 1.25em; */
        left: 5em;
        display: block;
        /* line-height: 1.3; */
        margin-left: auto;
        margin-right: auto;
        /* font-size: 1.6vw !important; */
    }
    .ImageDiv {
        padding-top: 2em;
        height: 50em !important;
        margin-top: -1.3em; 
        background: #000;
    }
    .layered_text {
        position: absolute;
        /* height: 28.75em; */
        top: 0em; 
        left: 3.9em;
        /* display: block; */
        /* line-height: 1.3; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* font-size: 1.6vw !important; */
        width: 2em;
    }
    .whiteFont-154{
        /* height:10% !important; */
        /* min-height: 31.5em; */
        /* text-align: center; */
        font-size: 13em !important;
        color: #FFF;
        background: black;
        font-family: 'Source Sans Pro', sans-serif;
        /* font-weight: 600; */
    }
}

