services:
  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      - MYSQL_DATABASE=IVP
      - MYSQL_USER=IVP
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_password
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    network_mode: host
    secrets:
      - mysql_password
    volumes:
      - ./mysql/localhost.sql:/docker-entrypoint-initdb.d/localhost.sql
      - ./mysql/port_drayage.sql:/docker-entrypoint-initdb.d/port_drayage.sql
      - /etc/localtime:/etc/localtime:ro 
      - /etc/timezone:/etc/timezone:ro 
  v2xhub:
    image: usdotfhwaops/v2xhub:${V2XHUB_VERSION:-develop}
    container_name: v2xhub
    network_mode: host
    restart: always
    depends_on:
      - db
    ulimits:
      nofile:
        soft: 2560
        hard: 2560
    deploy:
      resources:
        limits:
          memory: 2g
        reservations:
          memory: 1g
    environment:
      - MYSQL_PASSWORD=/run/secrets/mysql_password
      - SIMULATION_MODE=${SIMULATION_MODE:-false}
      - SIMULATION_IP=${SIMULATION_IP:-127.0.0.1}
      - SIMULATION_REGISTRATION_PORT=6767
      - LOCAL_IP=${V2XHUB_IP:-127.0.0.1}
      - TIME_SYNC_TOPIC=time_sync
      - TIME_SYNC_PORT=7575
      - SIM_V2X_PORT=5757
      - SIM_INTERACTION_PORT=7576
      - V2X_PORT=8686
      - INFRASTRUCTURE_ID=${INFRASTRUCTURE_ID:-rsu_1234}
      - INFRASTRUCTURE_NAME=${INFRASTRUCTURE_NAME:-East Intersection}
      - SENSOR_JSON_FILE_PATH=${SENSOR_JSON_FILE_PATH:-/var/www/download/sensors.json}
      - V2XHUB_USERNAME=${V2XHUB_USERNAME:-v2xadmin}
      - V2XHUB_PASSWORD=${V2XHUB_PASSWORD}
      - IS_TRU=TRUE                                                  # Enable TRU mode
      - NATS_URL=nats://localhost:4222                              # NATS server URL
      - RSU_CONFIG_PATH=rsuConfigs.json 
    secrets:
      - mysql_password
    volumes:
      - v2xhub-logs-volume:/var/log/tmx:rw
      - v2xhub-download-volume:/var/www/download/:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ssl-certs-volume:/var/www/plugins/ssl:rw
secrets:
  mysql_password:
    environment: MYSQL_PASSWORD

volumes:
  ssl-certs-volume:
    # To access/set SSL certifications on host machine setup local mapping to ssl directory.
    # NOTE: Ensure directory exists and has non-root privileges before running
    # docker compose to prevent permission issues
    # driver: local
    # driver_opts:
    #   type: 'none'
    #   o: 'bind'
    #   device: './ssl' # Specify the absolute path on your host
  v2xhub-download-volume:
    # To access V2X Hub uploaded files on host machine setup local mapping to download directory.
    # NOTE: Ensure directory exists and has non-root privileges before running
    # docker compose to prevent permission issues
    # driver: local
    # driver_opts:
    #   type: 'none'
    #   o: 'bind'
    #   device: './download' # Specify the absolute path on your host
  v2xhub-logs-volume:
    # To access log files on host machine setup local mapping to logs directory.
    # NOTE: Ensure directory exists and has non-root privileges before running
    # docker compose to prevent permission issues
    # driver: local
    # driver_opts:
    #   type: 'none'
    #   o: 'bind'
    #   device: './logs' # Specify the absolute path on your host
