name: Publish Docker Compose
on:
  push:
    branches:
      - develop
      - master
      - 'release/**'
      - 'feature/**'
    tags:
      - '*'

jobs:
  publish-docker-compose:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: usdotfhwaops/v2xhub
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=ref,event=tag
      - name: publish docker compose
        run: |
          cd configuration/
          docker compose publish --with-env --yes usdotfhwaops/v2xhub:${{ steps.meta.outputs.tags }}