on:
  push:
    branches:
      - develop
      - master
      - "release/*"
  pull_request:
    types: [opened, synchronize, reopened]
name: Sonar Workflow
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:jammy-20230126
    steps:
      - name: Install curl, zip, git, gcovr
        # Installing gcovr for unit test code coverage
        # Installing git for checkout action
        # installing curl/zip for sonar-cpp action
        run: |
          apt update
          export DEBIAN_FRONTEND=noninteractive
          apt-get install -y curl zip git gcovr
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
          submodules: recursive
      - name:  Install sonar-scanner and build-wrapper
        uses: sonarsource/sonarcloud-github-c-cpp@v2
      - name: Run install_dependencies.sh script
        run: |
          scripts/install_dependencies.sh
      - name: Build Ext Components
        run: |
          cd ext
          ./build.sh
          ../container/library.sh
          ldconfig
      - name: Run Tests & Generate Gcovr Reports
        run: |
          mkdir bw-output
          cd src
          build-wrapper-linux-x86-64 --out-dir ../bw-output bash build.sh coverage --j2735-version 2024 --plugins "all"
          ./test.sh coverage
      - name: Run sonar-scanner
        uses: usdot-fhwa-stol/actions/sonar-scanner@main
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          working-dir: ${{ github.workspace }}
